
ch01/ch01_env/
ch01/.vscode/

ch02/ch02_env/
ch02/.vscode/

ch03/ch03_env/
ch03/.vscode/

ch04/ch04_env/
ch04/.vscode/

ch05/ch05_env/
ch05/.vscode/

ch06/ch06_env/
ch06/.vscode/

ch07/ch07_env/
ch07/.vscode/

ch08/ch08_env/
ch08/.vscode/

ch09/ch09_env/
ch09/.vscode/

ch10/ch10_env/
ch10/.vscode/

ch11/ch11_env/
ch11/.vscode/

ch12/ch12_env/
ch12/.vscode/

ch13/ch13_env/
ch13/.vscode/

ch14/ch14_env/
ch14/.vscode/

ch15/ch15_env/
ch15/.vscode/